/* * {
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-container {
  display: flex;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 500px;
  flex-direction: row;
}

.slide {
  background-color: #4caf50;
  border-radius: 12px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  flex-direction: row;
}

.form-container {
  width: 400px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px;
  border: 0px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  background-color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}

::-webkit-input-placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

:-ms-input-placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.section {
  width: 100%;
}

.row {
  width: 100%;
  padding: 6px;
}

input[type="submit"] {
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-top: 6px;
  margin-left: 6px;
}

.signup-btn {
  border: 1px solid white;
  color: white;
  width: 60%;
  padding: 12px;
  border-radius: 24px;
  text-align: center;
}

.signin-btn {
  background-color: #4caf50;
  border: 1px solid #4caf50;
  color: white;
}

.signin-btn:hover {
  background-color: #45a049;
}

@media screen and (max-width: 600px) {
  input[type="submit"] {
    width: 100%;
  }

  .slide-container {
    flex-direction: column;
  }

  .slide {
    width: 400px;
    height: 300px;
  }
} */

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-container {
  background-color: #4caf50;
  height: 50%;
  width: 900px;
  display: flex;
  /* border-radius: 24px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: center;
  align-items: center;
}

.slider {
  height: 100%;
  width: 40%;
  /* position: absolute; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 1s;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-right: 1px solid white;
  border-left: 1px solid white; */
}

.main1 {
  width: 0;
  height: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  /* border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  border-top-right-radius: -24px;
  border-bottom-right-radius: -24px; */
  background-color: white;
  /* border: 0.5px solid white; */
  /* border-left: 1px solid white; */
}

.main2 {
  width: 60%;
  height: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  /* border-top-right-radius: 24px;
  border-bottom-right-radius: 24px; */
  /* border-radius: 24px; */
  background-color: white;
  border-right: 0.5px transparent;
  /* border-top-left-radius: -24px;
  border-bottom-left-radius: -24px; */
  /* border: 0.1px solid white; */
}
