<div class="container">
  <div class="form-container">
    <div class="section">
      <div class="row">
        <label for="username">
          Username
        </label>
      </div>
      <div class="row">
        <input type="text" id="username" name="username" placeholder="Your username..">
      </div>
    </div>
    <div class="section">
      <div class="row">
        <label for="password">
          Password
        </label>
      </div>
      <div class="row">
        <input type="text" id="password" name="password" placeholder="Your password..">
      </div>
    </div>
    <div class="section">
      <div class="row">
        <label for="server">
          Server
        </label>
      </div>
      <div class="row">
        <select id="server" name="server">
          <option value="australia">Australia</option>
          <option value="canada">Canada</option>
          <option value="usa">USA</option>
        </select>
      </div>
    </div>
    <div class="section">
      <input class="signup-btn" type="submit" value="Signup">
      <input class="signin-btn" type="submit" value="Signin">
    </div>
  </div>
</div>